.flex-item {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base {
    margin-bottom: 15px;
    background-color: #d0d3d4;
    border-radius: 4px;
}

.box1 {
    background-color: #63b1bc;
}

.box2 {
    background-color: #1f2a44;
}

.box3 {
    background-color: #ed145b;
}

.box4 {
    background-color: #efb661;
}
/* Insira o código abaixo */

.desafio1 {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 70%;
    
}

.desafio2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.desafio3 {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}

.desafio4 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.desafio5 {
    display: flex;
    justify-content: space-around;
}
.desafio6 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}